* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  background: #0760b9;
  height: 80px;
  position: sticky;
  left: 0;
  top: 0;
}

nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container .logo {
  width: 170px;
  color: rgb(242, 239, 245);
}
nav .container .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

nav .container ul {
  display: flex;
  gap: 30px;
}

nav .container ul li a {
  color: rgb(242, 239, 245);
}

nav .container button {
  padding: 10px;
  font-size: 18px;
  background: #6aadf0;
  border: none;
  border-radius: 10px 0;
}

nav .container button a {
  color: #0760b9;
}

nav .container button:hover {
  background: #AFCAE5;
  border-radius: 10px;
}

nav .container button a {
  color: white;
}

.first {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("./1-qism5.webp");
  background-size: cover;

}

.first .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.first .container .box {
  text-align: center;
  max-width: 700px;
}

.first .container .box h1 {
  font-size: 40px;
}

.first .container .box p {
  color: rgb(252, 247, 244);
  font-weight: 300;
  font-size: 19px;
  margin: 20px 0;
}

.first .container .box h1 {
  color: rgb(252, 247, 244);
  font-size: 40px;
}

.first .container button {
  padding: 10px;
  font-size: 18px;
  background: #0760b9;
  border: none;
  border-radius: 10px 0;
}

.first .container button:hover {
  background: #6aadf0;
  border-radius: 10px;
}

.first .container button a {
  color: white;
}

.second {
  padding: 80px 0;
  position: relative;
  background-image: url('./img/orqa\ fon\ tort.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.second .container , .second h1 {
  position: relative;
  z-index: 2;
}
.second .opactiy {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.509);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.second h1 {

  font-weight: 500;
  color: rgb(252, 247, 244);
  font-size: 30px;
}

.second .container {

  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.second .container .left {

  width: calc(100% / 2 - 30px);
  text-align: start;
}

.second .container .left p {

  margin: 20px 0;
  color: rgb(252, 247, 244);

}

.second .container .left button {

  padding: 10px;
  font-size: 18px;
  background: #0760b9;
  border: none;
  border-radius: 10px 0;
}

.second .container .left button:hover {

  background: #56a2ee;
  border-radius: 10px;
}

.second .container .left button a {

  color: white;
}

.second .container img {

  width: calc(100% / 3 - 30px);
  border-radius: 10px;
}

/* .container {
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  background: #0760b9;
  height: 80px;
  position: sticky;
  left: 0;
  top: 0;
}

nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container .logo {
  width: 170px;
  
}
nav .container .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
nav .container .logo i {
  color: antiquewhite;
}

nav .container ul {
  display: flex;
  gap: 30px;
}

nav .container ul li a {
  color: rgb(242, 239, 245);
}

nav .container button {
  padding: 10px;
  font-size: 18px;
  background: #6aadf0;
  border: none;
  border-radius: 10px 0;
}

nav .container button a {
  color: #0760b9;
}

nav .container button:hover {
  background: #AFCAE5;
  border-radius: 10px;
}

nav .container button a {
  color: white;
}

.first {
  padding: 80px 0;
    background-color: #6aadf0;
   height: 100vh;
   
}
.first h1 {
  font-weight: 500;
  color: rgb(252, 247, 244);
  font-size: 40px;
}

.first .container {
   height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;

}

.first .container .box {
  width: calc(100% / 2 - 30px);
  text-align: start;
}

.first .container .box p {
  color: rgb(252, 247, 244);

  margin: 20px 0;
  }

/* .first .container .box h1 {
  color: rgb(252, 247, 244);
  font-size: 40px;
} */

/* .first .container .box button {
  padding: 10px;
  font-size: 18px;
  background: #0760b9;
  border: none;
  border-radius: 10px 0;
}

.first .container button:hover {
  background: #6aadf0;
  border-radius: 10px;
}

.first .container .box button a {
  color: white;
}
.first .container img {
  width: calc(100% / 3 - 30px);
  border-radius: 10px;
}

.second {
  padding: 80px 0;
  background-color: #6aadf0;
}

.second h1 {

  font-weight: 500;
  color: rgb(252, 247, 244);
  font-size: 40px;
}

.second .container {

  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.second .container .left {

  width: calc(100% / 2 - 30px);
  text-align: start;
}

.second .container .left p {

  margin: 20px 0;
  color: rgb(252, 247, 244);

}

.second .container .left button {

  padding: 10px;
  font-size: 18px;
  background: #0760b9;
  border: none;
  border-radius: 10px 0;
}

.second .container .left button:hover {

  background: #56a2ee;
  border-radius: 10px;
}

.second .container .left button a {

  color: white;
}

.second .container img {

  width: calc(100% / 3 - 30px);
  border-radius: 10px;
}  */

.third {
  padding: 90px 0;
  background: #6aadf0;

}

.third h1 {
  font-weight: 500;
  color: rgb(252, 247, 244);
  font-size: 40px;
}

.third .container {

  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.third .container .card {
  width: calc(100% / 4 - 20px);
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
}

.third .container .card picture img {
  width: 100%;
  height: 100%;
  height: 330px;
  object-fit: cover;
}

.third .container .card .text-field {
  padding: 10px;
}

.third .container .card .text-field .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.third .container .card .text-field button {
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  background: #0760b9;
  border: none;
  border-radius: 10px;
}

.third .container .card .text-field button a {
  color: white;
}

footer {
  height: 120px;
  background: #0760b9;
}

footer .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container h3 {
  font-size: 14px;
  color: white;
}

footer .container i {
  font-size: 14px;
  color: white;
}

@media screen and (max-width:968px) {
  .third .container {
    justify-content: center;
  }

  .third .container .card {
    width: calc(100% / 3 - 20px);
  }  
}

@media screen and (max-width:680px) {
   .third .container .card {
    width: calc(100% / 2 - 20px);
  }

  .second .container {
    flex-direction: column;
  }

  .second .container .left {
    width: 80%;
  }

  .second .container img {
    width: 80%;
  }

  .first .container {
  flex-direction: column;
  }

  .first .container .box {
    width: 80%;
  }

  .first .container img {
    width: 80%;
  }
}

@media screen and (max-width:450px) {
  .third .container .card {
    width: 100%;
    
 }
}

@media screen and (max-width:800px) {
  nav {
    height: auto;
    padding: 15px 0;
  }

  nav .container {
    flex-direction: column;
    gap: 30px;
  }
}
